[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
Assets/AssetStoreTools*

# Visual Studio cache directory
.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boopfoj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta

sysinfo.txt
*.apk
*.unitypackage

Assets/StreamingAssets/crashlytics-build.properties

